
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = ViewData["UserName"];
    var role = ViewData["Role"];
}

<h2>Index</h2>

<style>
    a {
        text-decoration: none !important;
    }

    ul > li {
        list-style: none !important;
    }
</style>
<div style="text-align:center;">
    <h1 style="color: #42f4b3">
        <b>Welcome back, @username @role</b>
    </h1>
    <h4 style="color: #42f4b3">
        <b>This is your personal profile page</b>
    </h4>
    <hr>
    <div class="row">
        <div class="col-md-3" style="text-align:left">
            <ul>
                @if (role.ToString() != "User"
&& role.ToString() != "Superuser"
&& role.ToString() != "Administrator")
                {
                    @*<li> <a asp-area="" asp-controller="" asp-action="">User request</a></li>
                        <li> <a asp-area="" asp-controller="" asp-action="">Superuser request</a></li>*@
                }
                @if (role.ToString() == "Administrator")
                {
                    <li> <a asp-area="" asp-controller="Users" asp-action="Index">All Users</a></li>
                    @*<li><a asp-area="" asp-controller="" asp-action="">All Exceptions</a></li>*@
                }
                @if (role.ToString() == "User")
                {
                    <li> <a asp-area="" asp-controller="Users" asp-action="Index">All Users</a></li>

                }
                @if (role.ToString() == "SuperUser")
                {
                    <li> <a asp-area="" asp-controller="Users" asp-action="Index">All Users</a></li>
                }
                <li> <a asp-area="" asp-controller="" asp-action=""><strike>Set new password</strike></a></li>
                <li><a asp-area="" asp-controller="" asp-action=""><strike>Change Avatar</strike></a></li>
                <br />
                <br />
                <li><a asp-area="" asp-controller="Users" asp-action="Index">All Users</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Logout">Log out</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <h4 style="color: #42f4b3"></h4>
        </div>
    </div>
</div>