
@{
    ViewData["Title"] = "ValidateEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your email has been validated</h2>


<div style="height:100px;"></div>
<div style="text-align: center;">
    <h2 style="color: #42f4b3">
        <b>Thank you for confirming your email.</b>
    </h2>
    <h2 style="color: #42f4b3">
        <b>Go to login.</b>
    </h2>
</div>
<div style="height:100px;"></div>